.App {
  text-align: center;
}

.display-item {
  width: 60%;
  margin: auto;
}

.display-item ul {
  text-align: left;
  list-style-type: none;
}

.display-item ul li {
  margin: 5px;
}

.display-item ul li .name {
  margin: 0 10px;
  font-size: 20px; 
}

.display-item ul li .name.done {
  margin: 0 10px;
  font-size: 20px; 
  text-decoration: line-through;
}

.display-item ul li .state {
  margin: 0 10px;
}

.display-item ul li span svg {
  margin: 0 5px;
  cursor: pointer;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


/* form Styling */
input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

input {
  border: none;
  padding: 20px 0 0 0;
  border-bottom: solid 1px black;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: black;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: black;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

button {
  border: none;
  background: black;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}